/*SOBRECARGA DAS CORES DO BOOTSTRAP, COM ESSA CSS AS CORES DO NAVBAR SE ADAPTA AO PADRÃO DO TICONTROL*/

.navbar-default {
    background: #102C3A;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EFEF67;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EFEF67;
    background: #17394B;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #EFEF67;
    background: #17394B;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #EFEF67;
    background: #102C3A;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*.ui-datepicker-calendar {
    display: none;
}*/

.box-central-permissao{
    text-align: center;
    padding-top: 10px;
    margin-top: 70px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.box-central{
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;    
}

/* Estilos da tabela do formset */
.fields_formset{
    padding: 5px 0px 5px 5px;
}
.formset input, .formset select{
  width: 100%;  
  margin: 0px 10px 0px 0px;
  border-radius: 4px;
  border: 1px solid #CCC; 
}
.formset td, .formset th{
    padding: 10px 10px 10px 10px;
}

.formset input{
 text-align: right;
}
.border_table_formset{  
  border-left: 1px solid #ccc;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.formset {
    width: 100%;
    border-color:#ccc;
}
.btn_inline{
    height: 25px;
    padding: 0 7px 0 7px; 
}
.img_btn_inline{
    margin-left: 5px;
}

.field-close{
    text-align: center;
}

/* Estilos de tabela */
.space_50{
    width: 50px;
}
.space_60{
    width: 60px;
}
.space_70{
    width: 70px;
}
.space_100{
    width: 100px;
}
.space_150{
    width: 150px;
}
.space_200{
    width: 200px;
}
.space_300{
    width: 300px;
}
.space_400{
    width: 420px;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right
}

/* Estilos das opções das tabelas */
.pages_select select{
    width: 90px;
    display: inline-block;
}
.pages_select label{
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
.option_table{
    margin-bottom: 10px;
}
/* Estilos gerais */

body {
	padding-top:70px
}

.btn{
    min-width: 87px;
    margin-left: 5px;
}
.btn_img{
    /*padding: 0 1px 0 0;*/
    min-width: 120px;
    height: 34px;
}
.btn_search{
    min-width: 50px;
}
.pagination{
    margin: 0;
}

.icon_btn{
    margin-right: 5px;
    height: 22px;
}

.text-money{
    text-align: right;
}

/* Modals */
.modal-list{
    max-height: 600px;
    overflow: auto;
}

.modal-load{
    width: 400px;
    height: 300px;
}