<div class="form-group row">
    <div class="col-md-1">
        {{form.task_order.label_tag}}
        {{form.task_order}}
    </div>

    <div class="col-md-3">
        {{form.task_title.label_tag}}
        {{form.task_title}}
    </div>

    <div class="col-md-6">
        {{form.task_description.label_tag}}
        {{form.task_description}}
    </div>

    <div class="col-md-2">
        {{form.task_done.label_tag}}
        {{form.task_done}}
    </div>
</div>


{% if messages %}
<div class="col-md-12">
    <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
            <ul class="errorlist"><li>{{ message|escape }}</li></ul>
        {% endfor %}
    </div>
</div>
{% endif %}