<!DOCTYPE html> 
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}TODO List{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen" />
    {% block css %}
    {% endblock css %}
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">TODO List</span>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="container box-central">
        {% block container %}{% endblock %}
    </div>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-dialog.js' %}"></script>

    {% block js %}{% endblock js %}

</body>

</html>