{% extends "base.html" %}
{% load static %}
{% block title %} Change Task Order | {{ block.super }} {% endblock title %}

{% block container %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title text-center">Change Task <i>"{{ task.task_title }}"</i> Order</h4>
            </div>
        </div>
    </div>

    <form method="post">{% csrf_token %}
    
    <div class="panel-body">
        {% if tasks_to_change %}
            <div class="col-md-4">
                <select name="task_to_change" required class="form-control">
                    <option value="">Choose a Task</option>
                    {% for t in tasks_to_change %}
                        <option value="{{ t.task_id }}">{{ t.task_title }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <h4 class="text_center">No have others tasks with "Doing" status to change order</h4>
        {% endif %}
    </div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-success" name="btn_save_task">Save</button>
        <a href="{% url 'home' %}" class="btn btn-warning">Back</a>
    </div>
    
    </form> 

</div>

{% endblock container %}    