{% extends "base.html" %}
{% load static %}
{% block title %} New Task | {{ block.super }} {% endblock title %}

{% block container %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title text-center">New Task</h4>
            </div>
        </div>
    </div>

    <form method="post">{% csrf_token %}
    
    <div class="panel-body">
        {% include '_form.html' %}
    </div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-success" name="btn_save_task">Save</button>
        <a href="{% url 'home' %}" class="btn btn-warning">Back</a>
    </div>
    
    </form> 

</div>

{% endblock container %}    