{% extends "base.html" %}

{% load static %}
{% block title %} Home | {{ block.super }} {% endblock title %}
{% block css %}{% endblock css %}

{% block container %}

    <div class="panel panel-default">
        <div class="panel-heading">
                {% if messages %}
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <ul class="errorlist">
                                <li{% if message.tags %} class=""{% endif %}>
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            <div class="row">
                <div class="col-md-4"><span>Tasks List</span></div>
                <div class="col-md-8">
                    <a class="btn btn-warning btn_img pull-right" href="{% url 'create' %}">
                        <img src="{% static 'img/add.png' %}" class="icon_btn">New Task
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="space_50 text_center">#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="space_150 text-center">Status</th>
                        <th class="space_50 text_center">
                            <img src="{% static 'img/edit.png'%}" width="25" height="25">
                        </th>
                        <th class="space_50 text_center">
                            <img src="{% static 'img/modify.png'%}" width="25" height="25">
                        </th>
                        <th class="space_50 text_center">
                            <img src="{% static 'img/delete.png'%}" width="25" height="25">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for t in tasks %}
                        <tr>
                            <td class="space_50 text_center">{{t.task_order}}</td>
                            <td>{{t.task_title}}</td>
                            <td>{{t.task_description}}</td>
                            <td class="space_50 text-center">
                                <a href="{% url 'change_status' task_id=t.task_id %}">
                                    {% if t.task_done %}
                                        <img src="{% static 'img/done.png'%}" width="20" height="20" title="Done">
                                    {% else %}
                                        <img src="{% static 'img/doing.png'%}" width="20" height="20" title="Doing">
                                    {% endif %}
                                </a>
                            </td>
                            <td class="space_50 text_center">
                                <a href="{% url 'update' task_id=t.task_id %}" title="Edit Task">
                                    <img src="{% static 'img/edit.png'%}" width="25" height="25">
                                </a>
                            </td>
                            <td class="space_50 text_center">
                                <a href="{% url 'change_task_order' task_id=t.task_id %}" title="Change Task Order">
                                    {% if not t.task_done %}
                                        <img src="{% static 'img/modify.png'%}" width="25" height="25">
                                    {% endif %}
                                </a>
                            </td>
                            <td class="space_50 text_center">
                                <a href="#" id="{{ t.task_id }}" class="delete_task" title="Remove Task">
                                    <img src="{% static 'img/delete.png'%}" width="25" height="25">
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text_center" colspan="7">
                                <h5>Empty List</h5>
                            </td>                     
                        </tr> 
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>        
    </div>

{% block js %}
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock js %}
    
{% endblock container %}